<div class="clr-row clr-justify-content-center">
    <form [formGroup]="formGroup"
          (ngSubmit)="submit()"
          class="clr-form clr-col-sm-5 clr-col-md-5 clr-col-lg-4">
        <div class="clr-form-control">
            <div class="clr-control-container clr-break-row">
                <label class="tooltip tooltip-right tooltip-validation tooltip-xs clr-break-row"
                       [class.invalid]="invalid(formGroup.get('email'))">
                    <input class="clr-input clr-break-row" type="text" formControlName="email" placeholder="email">
                    <span class="tooltip-content">
                        필수
                    </span>
                </label>
            </div>
        </div>
        <div class="clr-form-control mb-1">
            <div class="clr-control-container clr-break-row">
                <label class="tooltip tooltip-right tooltip-validation tooltip-xs clr-break-row"
                       [class.invalid]="invalid(formGroup.get('password'))">
                    <input class="clr-input clr-break-row" type="password" formControlName="password" placeholder="password">
                    <span class="tooltip-content">
                        필수
                    </span>
                </label>
            </div>
        </div>

        <error [error]="error" [small]="true"></error>

        <button
                type="submit"
                class="btn btn-primary btn-block"
                [clrLoading]="state"
                [disabled]="formGroup.invalid">login
        </button>
        <button type="button" class="btn btn-sm btn-link btn-block" (click)="openWizard()">sign up</button>
    </form>
</div>

<register-wizard
        *ngIf="initWizard"
        #registerWizard
        (closed)="initWizard = false"></register-wizard>