<clr-main-container>
    <app-header *ngIf="isAuthenticated()"></app-header>
    <div class="content-container">
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="1" *ngIf="isAuthenticated()">
            <a clrVerticalNavLink routerLink="/task" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="tasks"></clr-icon>
                task
            </a>
        </clr-vertical-nav>
    </div>
</clr-main-container>