<?php
return [
    'settings' => [
        'determineRouteBeforeAppMiddleware' => true,
        'displayErrorDetails' => true,
        'logger' => [
            'name' => 'slim',
            'level' => Monolog\Logger::DEBUG,
            'path' => dirname(__DIR__) . DIRECTORY_SEPARATOR . 'storage/logs/slim.log',
        ],
        'default_limit' => 25,
    ],
    'app' => [
        'name' => 'probe',
        'namespace' => 'probe',
        'host' => 'probe.local',  //application hostname
        'port' => 80,   //Application web port
        'encoding' => ['mb_internal_encoding' => 'UTF-8', 'mb_http_output' => 'UTF-8'],
        'timezone' => 'Asia/Seoul', //Your timezone
        'root_dir' => dirname(__DIR__) . DIRECTORY_SEPARATOR,
        'controller_dir' => dirname(__DIR__) . DIRECTORY_SEPARATOR . 'src' . DIRECTORY_SEPARATOR . 'App' . DIRECTORY_SEPARATOR . 'Controllers',
        'template' => [
            'dir' => dirname(__DIR__) . DIRECTORY_SEPARATOR . 'templates',
            'cache' => dirname(__DIR__) . DIRECTORY_SEPARATOR . 'storage' . DIRECTORY_SEPARATOR . 'cache',
            'debug' => true,
            'auto_reload' => true
        ],
        'db' => [
            'host' => 'db.local',  //Your Database Hostname
            'port' => '3306',   //Database Port
            'username' => 'homestead',   //Database Username
            'password' => 'secret',   //Database Password
            'name' => 'probe',  //Database name
            'charset' => 'utf8' //Database charset
        ],
    ],
    'jwt' => [
        'secret' => 'supersecretkeyyoushouldnotcommittogithub',
        'algorithm' => 'HS256',
    ],
    'mail' => [
        'host'      => 'smtp.mailgun.org',  // SMTP Host
        'port'      => '587',  // SMTP Port
        'username'  => 'postmaster@sandboxe54664b04f2146c4859c407b9d0212a8.mailgun.org',  // SMTP Username
        'password'  => '8d2b06429864d52d1a15055aedea916d-8889127d-3c0edf9e',  // SMTP Password
        'protocol'  => 'TLS'   // SSL or TLS
    ]
];