/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.border-left-0 {
    border-left: 0!important;
}

.border-right {
    border-right: 1px solid #ccc!important;
}

.border-top {
    border-top: 1px solid #ccc!important;
}

.border-left {
    border-left: 1px solid #ccc!important;
}

.border-bottom {
    border-bottom: 1px solid #ccc!important;
}

.border-0 {
    border: 0!important;
}

.border-radius-0 {
    border-radius: 0!important;
}

.task-dotw {
    line-height: 0.2rem;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 0.4rem;
}

.task-search {
    color: #565656!important;
    background: #eee!important;
    height: 36px!important;
    border: 0!important;
    width: 90%!important;
}

.task-title {
    color: #565656!important;
    background: #fafafa!important;
    border: 0!important;
    width: 100%!important;
    font-size: 1rem;
}

.task-content {
    word-wrap: break-word!important;
    resize: none!important;
    flex-basis: 100%;
    flex-shrink: 1;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    background: #fafafa!important;
    color: #565656!important;
    border: 0;
}

.task-content:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}